.navbar-header .logo_top {
  display: inline-block;
  width: 6.3rem;
  height: .9rem;
  background: url(logo.png) no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin-right: .2rem;
  font-weight: bolder;
}
.navbar-header a {
  text-decoration: none;
}
.link_item {
  text-align: right;
  font-size: .6rem;
}
.active {
  position: relative;
}
.active::after {
  display: none;
}
@media (min-width: 1200px) {
  .active::after {
    display: block;
    content: '';
    width: 8px;
    height: 8px;
    background: #000;
    position: absolute;
    left: 50%;
    margin-left: -4px;
    bottom: 0;
    border-radius: 50%;
  }
}
